<a routerLink="/" class="btn">Home</a>
<div class="page-content page-container" id="page-content">
  <div class="padding">
    <div class="row container d-flex justify-content-center">
      <div class="col-lg-12">
        <div class="card px-3">
          <div class="card-body">
            <h4 class="card-title">Computermann's Todo list</h4>
            <div class="add-items d-flex">
              <input type="text" class="form-control todo-list-input" placeholder="What do you need to do today?">
              <button (click)="AddToButton($event)"
                class="add btn btn-primary font-weight-bold todo-list-add-btn">Add</button> </div>
            <div class="list-wrapper">
              <ul class="d-flex flex-column-reverse todo-list">

                <li *ngFor="let todo of todoList | async">
                  <div class="form-check"> <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                        <p (click)="goToDetails(todo.id)">{{todo.activity}} </p>

                        <i class="input-helper"></i></label>
                  </div> <i class="remove mdi mdi-close-circle-outline"></i>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
